In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [8]:
kepler = pd.read_csv("kepler.csv")
kepler.head()

,rowid,kepid,disposition,koi_period,koi_time0bk,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_tce_plnt_num,koi_steff,koi_slogg,koi_srad,ra,dec,koi_kepmag
0,1,10797460,1,9.488036,170.538750,0.146,2.95750,616.0,2.26,793.0,93.59,35.8,1.0,5455.0,4.467,0.927,291.93423,48.141651,15.347
1,2,10797460,1,54.418383,162.513840,0.586,4.50700,875.0,2.83,443.0,9.11,25.8,2.0,5455.0,4.467,0.927,291.93423,48.141651,15.347
2,3,10811496,0,19.899140,175.850252,0.969,1.78220,10800.0,14.60,638.0,39.30,76.3,1.0,5853.0,4.544,0.868,297.00482,48.134129,15.436
3,4,10848459,0,1.736952,170.307565,1.276,2.40641,8080.0,33.46,1395.0,891.96,505.6,1.0,5805.0,4.564,0.791,285.53461,48.285210,15.597
4,5,10854555,1,2.525592,171.595550,0.701,1.65450,603.0,2.75,1406.0,926.16,40.9,1.0,6031.0,4.438,1.046,288.75488,48.226200,15.509

In [9]:
kepler.dropna(inplace=True)

In [13]:
kepler.dtypes

rowid                 int64
kepid                 int64
disposition           int64
koi_period          float64
koi_time0bk         float64
koi_impact          float64
koi_duration        float64
koi_depth           float64
koi_prad            float64
koi_teq             float64
koi_insol           float64
koi_model_snr       float64
koi_tce_plnt_num    float64
koi_steff           float64
koi_slogg           float64
koi_srad            float64
ra                  float64
dec                 float64
koi_kepmag          float64
dtype: object

In [14]:
kepler.tail()

,rowid,kepid,disposition,koi_period,koi_time0bk,koi_impact,koi_duration,koi_depth,koi_prad,koi_teq,koi_insol,koi_model_snr,koi_tce_plnt_num,koi_steff,koi_slogg,koi_srad,ra,dec,koi_kepmag
9559,9560,10031643,0,8.589871,132.016100,0.765,4.8060,87.7,1.11,929.0,176.40,8.4,1.0,5638.0,4.296,1.088,298.74921,46.973351,14.478
9560,9561,10090151,0,0.527699,131.705093,1.252,3.2221,1580.0,29.35,2088.0,4500.53,453.3,1.0,5638.0,4.529,0.903,297.18875,47.093819,14.082
9561,9562,10128825,1,1.739849,133.001270,0.043,3.1140,48.5,0.72,1608.0,1585.81,10.6,1.0,6119.0,4.444,1.031,286.50937,47.163219,14.757
9562,9563,10147276,0,0.681402,132.181750,0.147,0.8650,104.0,1.07,2218.0,5713.41,12.3,1.0,6173.0,4.447,1.041,294.16489,47.176281,15.385
9563,9564,10156110,0,4.856035,135.993300,0.134,3.0780,76.7,1.05,1266.0,607.42,8.2,1.0,6469.0,4.385,1.193,297.00977,47.121021,14.826

In [17]:
# Assign X (data) and y (target)
X = kepler.drop("disposition", axis=1)
y = kepler["disposition"]
print(X.shape, y.shape)

(8945, 18) (8945,)

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
classifier.fit(X_train, y_train)

/Users/jamesdietz/anaconda3/envs/PythonWebMongo/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7617769827072153
Testing Data Score: 0.7657577112203845

In [22]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1 1 1 1 1 1 1 1 1 1]
First 10 Actual labels: [1, 1, 0, 1, 1, 1, 0, 1, 1, 1]

In [23]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction  Actual
0              1       1
1              1       1
2              1       0
3              1       1
4              1       1
5              1       1
6              1       0
7              1       1
8              1       1
9              1       1
10             1       1
11             0       0
12             0       1
13             0       0
14             1       1
15             1       1
16             0       1
17             1       0
18             1       1
19             1       0
20             0       0
21             1       1
22             1       0
23             1       0
24             0       0
25             0       0
26             1       1
27             1       1
28             1       1
29             0       0
...          ...     ...
2207           1       1
2208           0       0
2209           1       1
2210           0       0
2211           1       0
2212           1       1
2213           1       0
2214           1       1
2215           0       0
2216           0       0
2217           1       1
2218           0       0
2219           1       1
2220           1       0
2221           0       0
2222           0       0
2223           1       1
2224           1       1
2225           1       1
2226           0       0
2227           0       1
2228           1       0
2229           1       0
2230           1       1
2231           1       0
2232           1       1
2233           1       1
2234           0       1
2235           1       1
2236           0       0

[2237 rows x 2 columns]